/* .profileImg{
max-width: 150px;
max-height: 150px;
border: 2px rgb(197, 52, 36);
border-radius: 50%;
} */
.table{
    width: 100%;
    /* border: 0.5px solid; */
}
.table tr td{
    padding: 15px,10px;
    border: 0.5px solid;
    
}