<mat-card>
    <mat-action-list class="butStyle">
        <div mat-subheader>Menu</div>
       <button mat-list-item style="background-color:rgb(219, 163, 219);">
        <mat-icon mat-list-icon>home</mat-icon>Home</button>
       <button mat-list-item style="background-color:rgb(219, 163, 219);margin-top: 10px;"
        routerLink="/admin/profile"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
       <button mat-list-item style="background-color:rgb(219, 163, 219);margin-top: 10px;"
        routerLink="/admin/categories"><mat-icon mat-list-icon>list</mat-icon>Categories</button>
       <button mat-list-item style="background-color:rgb(219, 163, 219);margin-top: 10px;"
        routerLink="/admin/add-categories"><mat-icon mat-list-icon>add_shopping_cart</mat-icon>Add Categories</button>
    </mat-action-list>
</mat-card>
